@charset "UTF-8";

.calc{
    display: flex;
    justify-self: center;
}

table {
    padding: 0.5em 1em;
    margin: 1em 0;
    font-weight: bold;
    color: #6091d3;
    text-align: center;
    background: rgb(235, 235, 235);
    border: solid 3px #6091d3;
    border-radius: 10px;
}

input[class=display] {
    width: 12em;
    height: 3em;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
    text-align: right;
    font-size: 3em;
}

button {
    display: inline-block;
    text-decoration: none;
    margin-top: 10%;
    width: 4em;
    height: 4em;
    line-height: 80px;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    font-size: 2em;
}

.number {
    color: #668ad8;
    border: solid 2px #668ad8;
}

.number:hover {
    background-color: #b3e1ff;
}

.operator {
    color: gray;
    border: solid 2px gray;
}

.operator:hover {
    background-color: rgb(221, 221, 221);
}

.active{
    background-color: #838383;
    border: solid 2px;
    color: white;
}

.equal {
    background-color: #838383;
    color: rgb(255, 255, 255);
    border: solid 2px gray;
}

.equal:hover {
    background-color: rgb(177, 177, 177);
}