body{
  font-family: 'Avenir','Helvetica Neue','Helvetica','Arial','Hiragino Sans','ヒラギノ角ゴシック',YuGothic,'Yu Gothic','メイリオ', Meiryo,'ＭＳ Ｐゴシック','MS PGothic', 
sans-serif;

background-color: #fffbf4;
}

.contents{
  z-index: 100;
  background-color: white;
  border-radius: 5px;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
  padding: 1%;
  border: solid 1px rgb(204, 204, 204);
}
