.slidemenu {
	position: fixed;
	z-index: 1000;
	top: 0;
	bottom: 0;
	left: 0;
	overflow: hidden;
	width: 3.4em;
	height: 100%;
	-webkit-transition: width 0.6s ease;
					transition: width 0.6s ease;

	border-right: 1px solid #e5e5e5;
	background: #37474F;
}
.slidemenu:hover {
	overflow: visible;
	width: 17em;
}
.slidemenu ul {
	margin: 7px 0;
	padding: 0;
	outline: 0;
}
.slidemenu li {
	position: relative;
	display: block;
	width: 17em;
	margin: 0;
	padding: 0;
	outline: 0;
}
.slidemenu li a {
	position: relative;
	display: table;
	border-spacing: 0;
	border-collapse: collapse;
	text-decoration: none;
	color: #ffffff;
}
.slidemenu li:before {
	content:"";
	position: absolute;
	top: 0px;
	left: -17em;
	height: 100%;
	width: 17em;
	background : rgba(142, 229, 255, 0.5);
	-webkit-transition: all 0.6s ease;
					transition: all 0.6s ease;
}
.slidemenu li:hover:before {
	left:0;
}
.slidemenu span {
	position: relative;
	display: table-cell;
	width: 14em;
	vertical-align: middle;
}
.slidemenu > ul.control {
	position: absolute;
	bottom: 0;
	left: 0;
}
.slidemenu ul li i {
	font-size: 1.5em;
	display: inline-block;
	padding: 0.5em;
	vertical-align: middle;
}